/*
 * Launch theme
 */

.root {
    -fx-background-image: url("background.png");
}

#logRoot {
	-fx-background-color: #111;
}

#logRoot .button {
	-fx-text-fill: greenyellow;
	-fx-border-color: green;
	-fx-background-color: transparent;
}

#logRoot .button:hover {
	-fx-background-color: green;
	-fx-opacity: 0.6;
}

.context-menu {
	-fx-background-color: #111;
	-fx-text-fill: green;
}

#modalRoot {
    -fx-background-color: #111;
    /* -fx-border-color: rgb(49, 89, 23); */
}

#modalLabel {
	visibility: hidden;
}

.slider .thumb {
	-fx-background-color: #111;
	-fx-border-color: green;
}

.slider .track {
	-fx-background-color: #111;
	-fx-border-color: green;
}

.slider .tick-label {
	-fx-text-fill: white;
	-fx-fill: white;
}

.hyperlink {
	-fx-text-fill: snow;
}

#licenseText {
	-fx-fill: greenyellow;
}

#setupRoot .button {
	-fx-text-fill: greenyellow;
	-fx-border-color: green;
	-fx-background-color: transparent;
}

#setupRoot .button:hover {
	-fx-background-color: green;
	-fx-opacity: 0.6;
}

#extrasRoot .button {
	-fx-text-fill: greenyellow;
	-fx-border-color: green;
	-fx-background-color: transparent;
}

#extrasRoot .button:hover {
	-fx-background-color: green;
	-fx-opacity: 0.6;
}

#settingsRoot .button {
	-fx-text-fill: greenyellow;
	-fx-border-color: green;
	-fx-background-color: transparent;
}

#settingsRoot .button:hover {
	-fx-background-color: green;
	-fx-opacity: 0.6;
}

#modalRoot .combo-box {
	-fx-text-fill: greenyellow;
	-fx-background-color: #111;
	-fx-border-color: green;
}

.combo-box .list-cell {
	-fx-text-fill: greenyellow;
	-fx-background-color: #111;
	-fx-background-insets: 2, 2;
}

.combo-box-popup .list-view {
	-fx-background-color: #111;
	-fx-border-color: green;
}

.combo-box .list-cell:hover {
	-fx-background-color: green;
	-fx-opacity: 0.6;
}

.progress-bar .bar {
	-fx-background-color: yellow;
}

.progress-bar .track {
	-fx-border-color: yellow;
	-fx-background-color: #111;
}

#modalRoot .text-field {
	-fx-text-fill: greenyellow;
	-fx-background-color: #111;
	-fx-border-color: green;

}

#setupRoot .button {
	-fx-border-color: snow;
}

#setupRoot .button.pass {
	-fx-border-color: blue;
}

#setupRoot .button.fail {
	-fx-border-color: red;
}

#settingsRoot {
	-fx-text-fill: greenyellow;
	-fx-fill: greenyellow;
	-fx-border-color: green;
	-fx-border-width: 1 1 2 1;
	-fx-background-color: #111111;
}

.titled-pane {
	-fx-text-fill: green;
}

.titled-pane > .title {
	-fx-text-fill: greenyellow;
	-fx-border-color: green;
	-fx-border-width: 1 0 0 0;
	-fx-background-color: #111111;
	-fx-content-display: text-only;
}

.titled-pane > .title > .text {
	-fx-fill: greenyellow;
}

.titled-pane .content {
	-fx-border-color: #111;
}

.titled-pane > .title > .arrow-button .arrow {
	visibility: hidden;
}

.label {
	-fx-text-fill: greenyellow;
}

.label.ticker {
	-fx-text-fill: white;
	
}

.check-box {
	-fx-text-fill: greenyellow;
}

.check-box > .box {
	-fx-border-color: green;
	-fx-background-color: #111111;
}

.check-box .mark {
	-fx-background-color: transparent;
}

.check-box:selected .mark {
	-fx-background-color: green;
}

.scroll-pane .scroll-bar {
	-fx-background-color: #111;
	-fx-border-color: green;
}

.scroll-pane .scroll-bar .thumb {
	-fx-background-color: green;
}

#closeButton {
	-fx-graphic: url("close-button.png");
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
}

#closeButton:hover {
	-fx-graphic: url("close-button-hover.png");
}

.progress-indicator {
    -fx-progress-color: yellow;
}

.progress-indicator .spinner {
    -fx-background-color: transparent;
}

#extrasButton {
	-fx-graphic: url("extras-button.png");
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 45px;
}

#extrasButton:hover {
	-fx-graphic: url("extras-button-hover.png");
}

#settingsButton {
	-fx-graphic: url("settings-button.png");
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 20px;
}

#settingsButton:hover {
	-fx-graphic: url("settings-button-hover.png");
}

#setupButton {
	-fx-graphic: url("setup-button.png");
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
}

#setupButton:hover {
	-fx-graphic: url("setup-button-hover.png");
}

#playButton {
	-fx-graphic: url("play-button.png");
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
}

#playButton:hover {
	-fx-graphic: url("play-button-hover.png");
}

#scanButton {
    -fx-graphic: url("scan-button.png");
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 20px;
}

#scanButton:hover {
    -fx-graphic: url("scan-button-hover.png");
}

#cancelButton {
    -fx-graphic: url("cancel-button.png");
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 20px;
}

#cancelButton:hover {
    -fx-graphic: url("cancel-button-hover.png");
}

#updateButton {
    -fx-graphic: url("update-button.png");
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 20px;
}

#updateButton:hover {
    -fx-graphic: url("update-button-hover.png");
}

.display {
	-fx-fill: #ff0;
}

#optionsButton {
    -fx-graphic: url("options-button.png");
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 45px;
}

#optionsButton:hover {
    -fx-graphic: url("options-button-hover.png");
}

#gameProcessPane .button {
	-fx-graphic: url("game_running.png");
}

#gameProcessPane .button.stopped {
	-fx-graphic: url("game_over.png");
}

